<div>
    
    <div class="floating-box" ng-repeat="x in vm.autobus">
        {{x.id}} || <b>{{x.nome}}</b>
    </div>
  	<form name="selectBus" ng-submit="vm.loadTratte()" role="form">
        <div class="f-row">
            <div class="full-width">
                <input ng-model="vm.idBus" type="text" class="btn color medium " placeholder="Inserisci l'id dell'autobus da visualizzare ..">
            </div>
            <div class="full-width">
                <button type="submit" class="btn color medium" />Invia {{vm.idBus}}</button>
            </div>
        </div>
	</form>
	<form name="gestioneTratteForm" ng-submit="vm.sub()" role="form">
    Attenzione! Non modificare il campo ID
        <div  ng-repeat="x in vm.tratte.fermata">
            <div >
                <div>
                    <div class="floating-boxL">
	                    ID: <input ng-model="x.id" type="text">
                    </div>
                    <div class="floating-boxL">
                        Nome: <input ng-model="x.nome_succ" type="text" >
                    </div>
                    <div class="floating-boxL">
                        Fermata prec: <input ng-model="x.fermata_precedente" type="text" >
                    </div>
                    <div class="floating-boxL">
                        Fermata succ:<input ng-model="x.fermata_successiva" type="text" >
                    </div>
                    <div class="floating-boxL">
                        Tratta succ:<input ng-model="x.prossima_tratta" type="text" >
                    </div>
                    <div class="floating-boxL">
                        Numero:<input ng-model="x.enumerazione" type="text" >
                    </div>
                </div>
            </div>
        </div>
        <div class="full-width">
            <button type="submit" class="btn color medium " />Inserisci aggiornamento</button>
        </div>
	</form>
</div>