<div style="margin-top: 20px;">
  <md-content style="background-color: inherit;">
    <md-list>
      <md-list-item class="md-3-line box options-block" ng-repeat="item in vm.notifiche" style="margin-bottom: 10px;padding: 0px;">
        <div class="flex-container-bacheca">
          <div class="flex-item item1">
            <a ng-href="profilo-utenti/{{item.id_utente}}">
              <img data-ng-src="{{item.foto_utente}}" style="height: 70%;border-radius: 50%;">
            </a>
          </div>
          <div class="flex-item item2 flex-container-ins">
            <div class="flex-item-ins item1-ins">
              <div class="flex-item-ins-ins">
                <div>{{item.titolo}} da {{item.nome_mittente}}
                  <div ng-if="item.tipologia!==1">per il viaggio {{item.nome_viaggio}} </div>
                </div>
              </div>
              <div class="flex-item-ins-ins">
                <div>
                  <img ng-click="vm.removeNotification(item.id)" ng-src="images/close.png" class="grandezza_img">
                </div>
              </div>
            </div>
            <div class="flex-item-ins item2-ins">
              Messaggio: {{item.messaggio}}
            </div>
            <div class="flex-item-ins item3-ins">
              <div class="flex-item-ins-ins bottoni">
                <md-button ng-if="item.bottone_1!=undefined" ng-click="vm.bottone1(item,$event)" class="centra md-raised">{{item.bottone_1}}</md-button>
              </div>
              <div class="flex-item-ins-ins bottoni">
                <md-button ng-if="item.bottone_2!=undefined" ng-click="vm.bottone2(item)" class="centra md-raised">{{item.bottone_2}}</md-button>
              </div>
            </div>
            <div class="flex-item-ins item4-ins">
              Inviato il {{item.data | date : "H:mm - d/M/y"}}
            </div>
          </div>
        </div>
      </md-list-item>
    </md-list>
  </md-content>
</div>