<nav-bar></nav-bar>
<main class="main" role="main">
    <form role="form" name="searchForm" ng-cloak="" ng-submit="vm.submit()">
        <div class="advanced-search color" id="booking">
            <div class="wrap">
                <!-- Row -->
                <div class="f-row">
                    <div class="form-group datepicker one-six" >
                        <label style="margin-top: 4px;"for="dep-date">Data</label>
                        <md-datepicker ng-model="vm.search.date" md-placeholder="Enter date"></md-datepicker>
                    </div>
                    <div class="form-group select one-third">
                        <label style="margin-top: 4px;">Partenza</label>
                        <input type="text" g-places-autocomplete force-selection="true" required class="input_search" options="vm.autocompleteOptions" ng-click="vm.geolocate()" ng-model="vm.search.partenza" />
                    </div>
                    <div class="form-group select one-third">
                        <label style="margin-top: 4px;">Arrivo</label>
                        <input type="text" g-places-autocomplete force-selection="true" required class="input_search" options="vm.autocompleteOptions" ng-click="vm.geolocate()" ng-model="vm.search.arrivo" />
                    </div>
                    <div class="form-group one-seven" style="width: 50px !important;height: 50px !important;">
                        <input type="image" src="images/cerca.jpg"  class="input_button md-raised">
                    </div>
                </div>
            </div>
        </div>
        <side-bar-search></side-bar-search>
    </form>
    <div class="three-fourth content">
            <md-content class="md-padding">
                <md-nav-bar md-selected-nav-item="vm.currentNavItem" nav-bar-aria-label="navigation links">
                    <md-nav-item md-nav-click="vm.cambio(1)" name="page1">
                        <div>
                            Passaggi in auto ({{vm.routeAuto.length}})
                        </div> 
                    </md-nav-item>
                    <md-nav-item md-nav-click="vm.cambio(2)" name="page2">
                        Autobus ({{vm.route.bus}})
                    </md-nav-item><!--
                    <md-nav-item md-nav-click="vm.cambio(3)" name="page3">
                        <div>
                            Passaggi in auto (n.d.)
                        </div> 
                    </md-nav-item>
                    <md-nav-item md-nav-click="vm.cambio(4)" name="page4">
                        Autobus (n.d.)
                    </md-nav-item>-->
                </md-nav-bar>
                <div class="ext-content">
                    <div ng-if="vm.pagina === 1">
                        <div ng-if="vm.routeAuto.length === 0">
                            <h3>
                                Non è stato trovato nessun passaggio
                            </h3>
                        </div>
                        <md-list>
                            <div ng-if=!(vm.screenType())>
                                <div ng-repeat="route in vm.routeAuto" style="color: black;">
                                    <a ng-href="prenotation/{{route.id_partenza}}/{{route.id_arrivo}}">
                                        <md-list-item  class="md-3-line">
                                            <img data-ng-src="{{route.utente.foto_utente}}" class="md-avatar" style="width: 70px;height: 70px;">
                                            <!--<md-divider class="vertical-divider" style="width: 11%;"></md-divider>-->
                                            <div class="md-list-item-text" style="text-align: left;margin-left: 15px;margin-right: 32px;">
                                                <h5>
                                                    <img src="images/orologio.jpg" style="width: 20px;margin-right: 10px;">
                                                    <b>{{route.tratta_auto.orario_partenza | date : "H:mm - d/M/y"}}</b>
                                                </h5>
                                                <h5><b>Partenza:</b> {{route.tratta_auto.denominazione_partenza}}</h5>
                                                <h5><b>Arrivo:</b> {{route.tratta_auto.denominazione_arrivo}}</h5>
                                                <h5><b>Conducente</b> {{route.utente.nome}}   <b>Età:</b> {{route.utente.eta}}</h5>
                                            </div>
                                            <!--<md-divider class="vertical-divider" style="width: 63%;"></md-divider>-->
                                            <div class="md-list-item-text" style="text-align: left;margin-left: 30px;">
                                                <h3>{{route.tratta_auto.prezzo}} €</h3>
                                                <h4><b>Posti:</b> {{route.tratta_auto.posti}}</h4>
                                                <h4><b>Auto:</b> {{route.auto}}</h4>
                                            </div>
                                            <md-divider md-inset="" ng-if="!$last"></md-divider>
                                        </md-list-item>
                                    </a>
                                </div>
                            </div>
                            <div ng-if=vm.screenType()>
                                <div ng-repeat="route in vm.routeAuto" style="color: black;">
                                    <a ng-href="prenotation/{{route.id_partenza}}/{{route.id_arrivo}}" >
                                    <div style="text-align: left" class="box">
                                        <div style="display: inline-flex;padding: 5px;">
                                            <div>
                                                <img data-ng-src="{{route.utente.foto_utente}}" class="md-avatar" style="width: 70px;height: 70px;">
                                            </div>
                                            <div style="margin-left: 5px;display: flex;flex-direction: column;">
                                                <h7>Conducente {{route.utente.nome}}</h7>
                                                <h7>Età:{{route.utente.eta}}</h7>
                                            </div>
                                        </div>
                                        <md-divider></md-divider>
                                        <div style="padding: 5px;">
                                            <h5 style="padding: 0px">
                                                <img src="images/orologio.jpg" style="width: 20px;margin-right: 10px;">
                                                {{route.tratta_auto.orario_partenza | date : "H:mm - d/M/y"}}
                                            </h5>
                                            <h5 style="padding: 0px;color: green;">Partenza: {{route.tratta_auto.denominazione_partenza}}</h5>
                                            <h5 style="padding: 0px;color:red;">Arrivo: {{route.tratta_auto.denominazione_arrivo}}</h5>
                                        </div>
                                            <!--<md-divider class="vertical-divider" style="width: 63%;"></md-divider>-->
                                            <!--<div class="md-list-item-text" style="text-align: left;margin-left: 30px;">
                                                <h3>{{route.tratta_auto.prezzo}}</h3>
                                                <h4><b>Posti:</b> {{route.tratta_auto.posti}}</h4>
                                                <h4><b>Auto:</b> {{route.viaggio_auto.auto}}</h4>
                                            </div>-->
                                            <md-divider md-inset="" ng-if="!$last"></md-divider>
                                    </a>
                                </div>
                            </div>
                            </div>
                        </md-list>
                    </div>
                    <div ng-if="vm.pagina === 2">
                        <div ng-if="vm.route.bus === 0">
                            <h3>
                                Non è stato trovato nessun percorso autobus
                            </h3>

                        </div>
                        <md-list>
                            <div ng-repeat="route in vm.route.success" | orderBy="{{route.cambi}}">
                                <div ng-if="route.tipo === 1">
                                    <div ng-if="route.cambi === 0">
                                        <!--<div ng-click="vm.visualizza(route.dettaglio1.idTrattaPartenza,route.dettaglio1.idTrattaArrivo,0,0)">-->
                                        <md-list-item class="md-3-line" >
                                            <img ng-src="images/autobus.jpg" class="md-avatar" style="width: 70px;height: 70px;">
                                            <md-divider class="vertical-divider" style="width: 11%;"></md-divider>
                                            <div class="md-list-item-text" style="text-align: left;margin-left: 15px;">
                                                <h5><b>Autobus:</b> {{route.dettaglio1.nome_autobus}}</h5>
                                                <h5><b>Partenza:</b> {{route.dettaglio1.nomePartenza}}</h5>
                                                <h5><b>Arrivo:</b> {{route.dettaglio1.nomeArrivo}}</h5>
                                            </div>
                                            <div class="md-list-item-text md-secondary" style="text-align: left;margin-left: 30px;width: 400px;">
                                                <h3>Soluzione senza cambi</h3>
                                            </div>
                                            <md-divider md-inset="" ng-if="!$last"></md-divider>
                                        </md-list-item>
                                        <!-- </div>-->
                                    </div>
                                    <div ng-if="route.cambi === 1">
                                        <md-list-item class="md-3-line">
                                            <img ng-src="images/cambio.jpg" class="md-avatar" style="width: 70px;height: 70px;">
                                            <md-divider class="vertical-divider" style="width: 11%;"></md-divider>
                                            <div class="md-list-item-text" style="text-align: left;margin-left: 30px;width: 16%">
                                                <h5><b>Autobus:</b> {{route.dettaglio1.nome_autobus}}</h5>
                                                <h5><b>Partenza:</b> {{route.dettaglio1.nomePartenza}}</h5>
                                            </div>
                                            <div class="md-list-item-text md-secondary" style="text-align: left;margin-left: 30px;width: 400px;">
                                                <h3>Soluzione con 1 cambio </h3>
                                                <md-button ng-click="vm.dettaglioAutobus(route)" class="md-raised md-primary">Dettagli</md-button>
                                            </div>
                                            <md-divider md-inset="" ng-if="!$last"></md-divider>
                                        </md-list-item>
                                    </div>
                                </div>
                            </div>
                        </md-list>
                    </div>
            </md-content>
    </div>
</main>
<foo-ter></foo-ter>

