<nav-bar></nav-bar>
<!-- Main -->
<main class="main" role="main" ng-init="vm.page = 1">
    <div class="wrap">
        <div class="row">
            <!--- Sidebar -->
            <side-bar-pers></side-bar-pers>
            <!--- //Sidebar -->
            <div class="three-fourth content">
                <div id="titolo_pp" class="options-block" style="background: #fff;box-shadow: inset 0 0 0 1px #DFDFD0;">
                    <div id="immagine_p">
                        <img ng-src="{{vm.user.foto_utente}}" style="border-radius: 100px;max-height: 105px;margin: 1px;max-width: 114px;">

                        <!--<div> {{vm.user.utente.foto_utente}}</div>-->
                    </div>
                    <div id="nome_p" class="textProfileInPhone" ng-if="vm.user.sesso==='male'">
                        Bentornato!
                    </div>
                    <div id="nome_p" class="textProfileInPhone" ng-if="vm.user.sesso==='female'">
                        Bentornata!
                    </div>
                    <div id="notifiche_p" class="textProfileInPhone">
                        Hai {{vm.number}} notifiche
                    </div>
                </div>
                <div ng-if=!vm.screenType()>                
                    <notification-desktop></notification-desktop>                   
                </div>
                <div ng-if=vm.screenType()>
                    <notification-mobile></notification-mobile>
                </div>
            </div>
        </div>
</main>
<!-- //Main -->
<foo-ter></foo-ter>