
.flex-container-bacheca {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 170px;
}
.flex-container-bacheca-mobile {
    display: -webkit-flex;
    display: flex;
}
.flex-container-ins {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}
.flex-container-ins-ins {
    display: -webkit-flex;
    display: flex;
}
.flex-item {
    margin: 10px;
}
.flex-item-ins {
    margin: 5px;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
.flex-item-ins-ins {
    margin-left: 0px;
    margin-right: 10px;
    height:100%;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

}
.bottoni{
    width: 100px;
}
.item1 {
    -webkit-flex: 1;
    flex: 1;
    min-width: 105px;
}
.item2 {
    -webkit-flex: 5;
    flex: 5;
}
.centra{
    margin:auto;  
}
.item1-ins { 
    -webkit-flex: 2;
    flex: 2;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.item2-ins {
    -webkit-flex: 5;
    flex: 5;
    flex-flow: row wrap;
    word-break: break-all;
}
.item3-ins {
    -webkit-flex: 3;
    flex: 3;
    display: flex;
}
.item4-ins {
    -webkit-flex: 1;
    flex: 1;
    font-size:small;
    align-self: flex-end;
}
.bottone{
    margin:0px;
}
.grandezza_img{
    max-width: 20px;
    max-height: 20px;
}